<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.atos.rental.ui.category"
            class="com.atos.rental.ui.view.RentalPropertiesView"
            id="com.atos.rental.ui.rentalProperties"
            name="RentalProperties"
            restorable="true">
      </view>
      <category
            id="com.atos.rental.ui.category"
            name="rental">
      </category>
      <view
            category="com.atos.rental.ui.category"
            class="com.atos.rental.ui.view.AgencyView"
            id="com.atos.rental.ui.Agency"
            name="AgencyView"
            restorable="true">
      </view>
   </extension>

</plugin>
